#finger {
  width: 350px;
  height: 200px;
  z-index: 99;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  #strokeBG {
    @include fingerBgLoop(2000ms, 0);
  }

  .svg1,
  .svg2 {
    fill: none;
    stroke: #7c7c7c;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    stroke-width: 6;
    opacity: 0;
  }

  .svg1 {
    transition: stroke-dashoffset 3000ms 100ms ease, opacity 800ms 400ms;
    &.active {
      opacity: 1;
      stroke-dashoffset: 660;
    }
  }

  .svg2 {
    stroke: url(#pattern);
    &.group1 {
      transition: stroke-dashoffset 4000ms 2200ms ease, opacity 800ms 2500ms;
    }
    &.group2 {
      transition: stroke-dashoffset 4000ms 3000ms ease, opacity 800ms 3300ms;
    }
    &.group3 {
      transition: stroke-dashoffset 4000ms 4300ms ease, opacity 800ms 4600ms;
    }
    &.group1.active,
    &.group2.active,
    &.group3.active {
      opacity: 1;
      stroke-dashoffset: 660;
    }
  }
}
